@use './base.scss';

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: $primary-100;
  padding: 0.8rem;
}

.container {
  width: 100%;
  max-width: 920px;
  margin: auto;
}

h1 {
  font-size: 1.8rem;
  color: $primary-900;
  font-weight: bold;
  text-transform: uppercase;
}
