$primary-50: #f8f7f7;
$primary-100: #efeeee;
$primary-200: #e3e2e2;
$primary-300: #d1d0d0;
$primary-400: #acabab;
$primary-500: #8b8a8a;
$primary-600: #646363;
$primary-700: #515050;
$primary-800: #333232;
$primary-900: #131212;

$font-text: Arial, system-ui, sans-serif;
